/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */

/* این کدها را در انتهای فایل اضافه کن */
.animated-gradient {
  background-size: 400%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}